<!DOCTYPE html>
<html>
  <head>
    <title>My Cart</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <!-- error or success message -->
    <% if (alert_type && message) { %>
    <p class="<%=alert_type%>"><%= message %></p>
    <% } %>

    <h1>Your Shopping Cart</h1>

    <% if (products.length === 0) { %>
    <p>Your cart is empty.</p>
    <% } else { %> <% let total = 0; %>

    <!-- <br> -->

    <% products.forEach(product => { %> <% total += product.price; %>

    <div>
      <h2><%= product.name %></h2>

      <% if (product.image) { %>
      <img
        src="<%= product.image %>"
        alt="Product image"
        style="max-width: 200px; display: block; margin: 10px 0"
      />
      <% } %>

      <p>Price: <%= product.price %> UAH</p>
      <p><%= product.description %></p>

      <form action="/remove_from_cart/<%= product._id %>" method="POST">
        <button type="submit">Remove From Cart</button>
      </form>
      <hr />
    </div>
    <% }) %>

    <h3>Total: <%= total %> UAH</h3>
    <% } %>

    <a href="/all_products">Back to list</a>
  </body>
</html>
