<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <h1>Product List</h1>

    <ul>
      <% products.forEach(product => { %>
      <li>
        <%= product.name %> - $<%= product.price %> <% if (product.image) { %>
        <img
          src="<%= product.image %>"
          alt="Product image"
          style="max-width: 200px; margin: 10px 0"
        /><br />
        <% } %>

        <div>
          <% let shortDesc = product.description.length > 100 ?
          product.description.slice(0, 50) + '...' : product.description; %>
          <em><%= shortDesc %></em><br />
          <a href="/product_details/<%= product._id %>">Read More</a>
        </div>

        <% if (userId) { %> <% if (product.owner_id.toString() !==
        userId.toString()) { %>
        <form action="/add_to_cart/<%= product._id %>" method="POST">
          <button type="submit">Add to Cart</button>
        </form>
        <% } else { %>
        <div>This is your product</div>
        <% } %> <% } else { %>
        <div><a href="/login">Log in</a> to add to cart</div>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>

