<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <h1>Product List</h1>

    <ul>
      <% products.forEach(product => { %>
      <li>
        <%= product.name %> - $<%= product.price %>

        <div><%= product.description %>...</div>
        <form action="/add_to_cart/<%= product._id %>" method="POST">
          <button type="submit">Add to Cart</button>
        </form>

        <a href="/product_details/<%= product._id %>">Read More</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
